<section class="section">
  <div class="container hero-container">
    <h1 class="title">SSGHSHJJJHGSHJJ</h1>
    <h2 class="item">fffylfyflflyflf</h2>
    <p class="text">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam eum
      autem animi, commodi fugit neque ex facilis, accusamus sint rerum minima
      reiciendis dolores. Error sapiente nam quas labore praesentium laboriosam!
    </p>
    <a class="links" href="">Link</a>
    <img src="./img/javascript.svg" alt="" width="" />
  </div>
</section>
